* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

body {
  background: rgb(26, 25, 25);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: salmon;
  height: 6vh;
}

.nav-bar-dark {
  background-color: black;
}

nav h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 40px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.nav-bar-link {
  list-style: none;
  font-size: 20px;
  padding: 1vh;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-bar-link:hover {
  background-color: tomato;
}

.nav-bar-link a {
  text-decoration: none;
  color: white;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(26, 25, 25);
}

.carousel {
  margin-top: 30px;
  border: 1px solid #007adf;
  padding: 10px;
  border-radius: 16px;
  background: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
  box-shadow: -1rem 1rem 3rem #007adf, 1rem -1rem 3rem #007adf;
}

.images-carousel {
  margin: top;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 500px;
  overflow: hidden;
}

/* Width 480px + 20px di margin to equal the carosel width*/

.images-carousel img {
  width: 480px;
  transform: translateX(0);
  margin: 5px 10px;
  transition: 0.5s ease-in-out;
}

.carousel-controller {
  display: flex;
  justify-content: center;
}

/*
 
if i work with the images 

.carousel-controller img {
  width: 30px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.carousel-controller img:active {
  transform: scale(0.9);
}
*/

.carousel-controller svg {
  height: 30px;
  width: 30px;
  margin: 10px;
  fill: #00ecbc;
  transition: 0.3s ease;
  cursor: pointer;
  stroke: 1px solid black;
}

.carousel-controller svg:active {
  transform: scale(0.9);
}
