* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --bg: hsl(72, 6%, 15%);
}

.tv-container {
  width: 100%;
  height: 80vh;
  background: var(--bg);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.screen {
  width: 95%;
  height: 90%;
  background: rgb(0, 0, 0);
  margin-top: 20px;
  border-radius: 25px;
}

.screen-on {
  background: rgb(172, 169, 169);
}

.screen-channel {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 30px;
  font-weight: 700;
}

.options {
  width: 95%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tv-logo {
  min-width: 80%;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

#on-button {
  height: 30px;
  cursor: pointer;
}
.on-button {
  -webkit-filter: drop-shadow(1px 3px 3px rgb(48, 255, 6));
}
.off-button {
  -webkit-filter: drop-shadow(1px 3px 3px rgb(255, 6, 6));
  animation: Off 1s infinite;
}

.on-button {
  -webkit-filter: drop-shadow(1px 3px 3px rgb(48, 255, 6));
}

@keyframes Off {
  0% {
    -webkit-filter: drop-shadow(1px 3px 3px rgb(134, 0, 0));
  }

  50% {
    -webkit-filter: drop-shadow(1px 3px 3px rgb(255, 6, 6));
  }

  100% {
    -webkit-filter: drop-shadow(1px 3px 3px rgb(134, 0, 0));
  }
}

/* Cabinet part*/

.cabinet-container {
  width: 100%;
  height: 20vh;
  background-color: rgb(59, 14, 14);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cabinet-inside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 20px;
  width: 100%;
  height: 16vh;
  background-color: rgba(80, 20, 20, 0.576);
}

.half-one,
.half-two {
  width: 50%;
  min-width: 335px;
  height: 16vh;
}

.half-one {
  display: flex;
}
.vhs-player-container {
  width: 70%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.vhs-player {
  background: grey;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.vhs-in {
  height: 40%;
  width: 50%;
  background-color: rgb(176, 216, 30);
}

.vhs-player-details {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
}

.vhs-player-details div {
  width: 30px;
  height: 15px;
  background-color: black;
}

.vhs-container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.vhs {
  width: 35px;
  background: rgb(176, 216, 30);
  margin: 0px 3px;
  cursor: pointer;
  transition: 0.1s linear;
}

.vhs h2 {
  writing-mode: vertical-rl;

  padding-top: 10px;
}

.vhs:hover {
  width: 40px;
  background: rgb(216, 67, 30);
}

.half-two {
  background-color: rgba(128, 128, 128, 0.349);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.half-two div {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.half-two img {
  height: 50px;
  transition: 0.1s linear;
}

.half-two img:hover {
  height: 60px;
  -webkit-filter: drop-shadow(1px 3px 3px rgb(48, 255, 6));
}

@media screen and (max-width: 710px) {
  .half-one,
  .half-two {
    height: 8vh;
    width: 100%;
  }

  .vhs h2 {
    font-size: 15px;
  }

  .half-two img {
    height: 40px;
  }

  .half-two img:hover {
    height: 50px;
  }
}
