* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg: rgb(116, 204, 204);
}

body {
  background: var(--bg);
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: salmon;
  height: 50px;
  position: fixed;
  width: 100%;
}

.nav-bar-dark {
  background-color: black;
}

.salute {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.nav-bar-link {
  list-style: none;
  font-size: 20px;
  padding: 1vh;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-bar-link:hover {
  background-color: tomato;
}

.nav-bar-link a {
  text-decoration: none;
  color: white;
}

.hero {
}

section {
  height: 500px;
  width: 100%;
}

#about {
  background-color: rgba(200, 255, 0, 0.123);
}
#story {
  background-color: rgba(0, 17, 255, 0.123);
}

#gallery {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.123);
}
.carousel {
  margin-top: 30px;
  border: 1px solid #007adf;
  padding: 10px;
  border-radius: 16px;
  background: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
  box-shadow: -1rem 1rem 3rem #007adf, 1rem -1rem 3rem #007adf;
}

.images-carousel {
  margin: top;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 400px;
  overflow: hidden;
}

/* Width 480px + 20px di margin to equal the carosel width*/

.images-carousel img {
  width: 380px; /* .images-carousel width - 20px for the margin*/
  transform: translateX(0);
  margin: 5px 10px;
  transition: 0.5s ease-in-out;
}

.carousel-controller {
  display: flex;
  justify-content: center;
}

.carousel-controller svg {
  height: 30px;
  width: 30px;
  margin: 10px;
  fill: #00ecbc;
  transition: 0.3s ease;
  cursor: pointer;
  stroke: 1px solid black;
}

.carousel-controller svg:active {
  transform: scale(0.9);
}

.sunImage {
  width: 150px;
}

.sun {
  z-index: -1;
  position: fixed;
  top: 10vh;
  left: 90vw;
  transition: ease;
}

.paesaggio {
  z-index: -1;
  position: fixed;
  bottom: 0vh;
  height: 70vh;
  width: 100%;
  background-image: url("./images/muntain.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 460px) {
  .images-carousel {
    width: 300px;
  }

  /* Width 480px + 20px di margin to equal the carosel width*/

  .images-carousel img {
    width: 280px; /* .images-carousel width - 20px for the margin*/
  }
}

/* More code code */

/*
 
if i work with the images 

.carousel-controller img {
  width: 30px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.carousel-controller img:active {
  transform: scale(0.9);
}
*/
