img {
  width: 300px;
  transform: translateX(0);
  transition: 0.4s ease-in-out;
}

.images-carousel {
  margin: top;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 300px;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
}
