@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Sanchez&display=swap");

:root {
  --bg: hsl(72, 6%, 15%);
  --pColour: rgb(0, 0, 0);
  --mainFont: "Poppins", sans-serif;
  --AboutMe: #fdb827;
  --WhyFAC: #f05454;
  --Game: #ff7b54;
  --mainBgColor: #f1f1f1;
  --mainFontColor: white;
  --mainCardBack: #ffb26b;
  --mainCardCorrect: #ffd56b;
  --mainCardWrong: #f05454;
  --tvColor: #222831;
  --mainCabin: #23120b;
  --cabin: rgb(80, 20, 20);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--mainFont);
}

.tv-container {
  width: 100%;
  height: 80vh;
  background: var(--tvColor);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  z-index: 300;
  overflow: auto;
}

.screen {
  width: 95%;
  /*height: 100%;*/
  margin-top: 20px;
  border-radius: 10px;
  overflow: auto;
  z-index: 10;
}

.screen-channel {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 30px;
  line-height: 0.9;
  font-weight: 700;
  color: var(--bg);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  opacity: 0;
}

.welcome-message {
  color: white;
  background: var(--pColour);
  display: Flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 70vh;
  padding: 30px;
}

.welcome-message h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
.welcome-message h2 {
  font-size: 30px;
}

.welcome-message-off {
  display: none;
}

.content {
  width: 100%;
  height: 70vh;
  z-index: -1;
  display: none;
}

.content-active-grid {
  display: grid;
}

#AboutMe,
#WhyFAC {
  background: var(--mainBgColor);
  grid-template-columns: auto;
  grid-template-rows: 10vh 1fr;
}

#Game {
  background: var(--mainBgColor);
  grid-template-columns: auto;
  grid-template-rows: 10vh 1fr 1fr 5vh;
}

#WhyFAC h1 {
  background: var(--WhyFAC);
  color: var(--mainFontColor);
}

#AboutMe h1 {
  background-color: var(--AboutMe);
  color: var(--mainFontColor);
}

#Game h1 {
  background-color: var(--Game);
  color: var(--mainFontColor);
}

#AboutMe h1,
#WhyFAC h1,
#Game h1 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-section {
  grid-row: 2 / -1;
  padding: 5px 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(20vh, 1fr));
  grid-gap: 10px;
  overflow: auto;
}

.content-section-img {
  height: 100%;
  width: 100%;
}

.content-section-text {
  /*background-color: yellow;*/
  height: 100%;
  width: 100%;
  overflow: auto;
}

/*AboutMe*******************************************************************************************************/

#AboutMe .content-section-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-content {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100%;
  flex-flow: column;
  overflow: hidden;
}

.images-carousel img {
  max-height: 400px;
}

.active-image {
  display: block;
}

.unactive-image {
  display: none;
}

.image-content svg {
  width: 30px;
  padding: 3px;
  cursor: pointer;
  fill: var(--AboutMe);
  transition: 0.3s ease;
}
.image-content svg:hover {
  fill: var(--WhyFAC);
}
.image-content svg:active {
  transform: scale(0.9);
}

.images-carousel {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.carousel-controller {
  display: flex;
  flex-flow: row;
}

/*WhyFAC**************************************************************************************************************/
#WhyFAC .content-section-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

#WhyFAC .content-section-img img {
  width: 100%;
  max-width: 320px;
}

/*Game**************************************************************************************************************/

.win-text {
  width: 95%;
  height: 70%;
  background-color: rgba(36, 35, 34, 0.795);
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  display: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 4;
  border-radius: 10px;
}

.win-text-on {
  display: flex;
}

.win-text h2 {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.cards {
  grid-row: 2/ 3;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 300px));
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  margin-top: 0.5vh;
}

.card {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--mainCardBack);

  width: 75%;
  max-width: 250px;
  height: 95%;
  max-height: 350px;

  border-radius: 10px;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  transition: 0.5s linear;
}

.card:hover {
  transition: 0.3s linear;
  border: 3px solid white;
}

.card:hover {
  border: 2px solid white;
}

.card img {
  width: 20vw;
  max-width: 200px;
  pointer-events: none;
  display: none;
}

.cardCorrect {
  background-color: var(--mainCardCorrect);
  pointer-events: none;
  border: 2px solid var(--mainCardBack);
  transform: rotateY(180deg);
}

.cardWrong {
  background-color: var(--mainCardWrong);
  pointer-events: none;
  border: 2px solid rgb(255, 0, 0);
  transform: rotateY(180deg);
}

.cardCorrect img {
  display: flex;
  transform: rotateY(180deg);
}
.cardWrong img {
  display: flex;
  transform: rotateY(180deg);
}

.winMessage {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.winMessage h2 {
  font-size: 100px;
  font-weight: 700;
}
.winMessage p {
  font-size: 30px;
  font-weight: 500;
}

.new-game-btn {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--Game);
  background-color: white;
  margin: 3px 0;
  width: 10vw;
  max-height: 50px;

  max-width: 300px;
  min-width: 200px;
  padding: 2px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 800;
  color: var(--Game);
  transition: 0.2s linear;
}

.new-game-btn:hover {
  color: white;
  border-color: white;
  background-color: var(--Game);
}

/* Logo and on button*/

.options {
  width: 95%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tv-logo {
  min-width: 80%;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.tv-logo h1 {
  font-family: "Sanchez", serif;
  color: var(--mainFontColor);
}

#on-button {
  height: 30px;
  cursor: pointer;
}
.on-button {
  -webkit-filter: drop-shadow(1px 3px 3px rgb(48, 255, 6));
}
.off-button {
  -webkit-filter: drop-shadow(1px 3px 3px rgb(255, 6, 6));
  animation: Off 1s infinite;
}

.on-button {
  -webkit-filter: drop-shadow(1px 3px 3px rgb(48, 255, 6));
}

@keyframes Off {
  0% {
    -webkit-filter: drop-shadow(1px 3px 3px rgb(134, 0, 0));
  }

  50% {
    -webkit-filter: drop-shadow(1px 3px 3px rgb(255, 6, 6));
  }

  100% {
    -webkit-filter: drop-shadow(1px 3px 3px rgb(134, 0, 0));
  }
}

/* Cabinet part*/

.cabinet-container {
  width: 100%;
  height: 20vh;
  background-color: var(--mainCabin);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
}
.cabinet-inside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 20px;
  width: 100%;
  height: 16vh;
  background-color: var(--cabin);
}

.half-one,
.half-two {
  width: 50%;
  min-width: 335px;
  height: 16vh;
}

.half-one {
  display: flex;
}
.vhs-player-container {
  width: 70%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.vhs-player {
  background: rgb(43, 38, 38);
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.vhs-in {
  height: 40%;
  width: 50%;
  background-color: var(--AboutMe);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mainFontColor);
}

.vhs-player-details {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
}

.vhs-player-details div {
  width: 30px;
  height: 15px;
  background-color: black;
}

.vhs-container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.vhs {
  width: 35px;
  background: rgb(115, 143, 33);
  margin: 0px 3px;
  cursor: pointer;
  transition: 0.1s linear;
  writing-mode: vertical-rl;
}

.vhs h2 {
  width: 100%; /* For the selction*/
  height: 100%;
  text-align: center;
}

#vhs-1:hover {
  color: white;
  background-color: var(--AboutMe);
}
#vhs-2:hover {
  color: white;
  background-color: var(--WhyFAC);
}
#vhs-3:hover {
  color: white;
  background-color: var(--Game);
}

.half-two {
  background-color: rgba(252, 252, 252, 0.349);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.half-two div {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.half-two img {
  height: 50px;
  transition: 0.1s linear;
}

.half-two img:hover {
  height: 60px;
  -webkit-filter: drop-shadow(1px 3px 3px var(--mainBgColor));
}

@media screen and (max-width: 780px) {
  .vhs-in h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 710px) {
  .half-one,
  .half-two {
    width: 100%;
  }
  .half-one {
    height: 10vh;
  }
  .half-two {
    height: 6vh;
  }

  .card img {
    min-width: 100px;
  }

  .winMessage h2 {
    font-size: 50px;
  }
  .winMessage p {
    font-size: 20px;
  }

  .new-game-btn {
    max-width: 150px;
    min-width: 150px;
    font-size: 20px;
  }

  .vhs-in {
    padding: 10px;
  }

  .vhs {
    width: 25px;
    padding: 0px 2px;
  }

  .vhs h2 {
    font-size: 15px;
  }

  .content .card {
    width: 75%;
    height: 90%;
    min-width: 90%;
    min-height: 90%;
  }

  .half-two img {
    height: 30px;
  }

  .half-two img:hover {
    height: 40px;
  }

  .carousel {
    max-width: 400px;
  }
}

@media screen and (max-width: 673px) {
  .images-carousel img {
    max-height: 200px;
  }
}
@media screen and (max-height: 780px) {
  .vhs h2 {
    font-size: 15px;
  }
}
@media screen and (max-height: 616px) {
  .vhs h2 {
    line-height: 0.5;
  }
}

.tip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
}

.tip .tip-text {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.445);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  position: absolute;
  z-index: 1;
}

.tip:hover .tip-text,
.tip:active .tip-text {
  visibility: visible;
}
.tip:hover,
.tip:active {
  color: var(--AboutMe);
}

/*

#AboutMe .content-section-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100%;
  flex-flow: column;
  overflow: hidden;
}

.images-carousel img {
  width: 100%;
}

.active-image {
  display: block;
}

.unactive-image {
  display: none;
}

.image-content svg {
  width: 30px;
  padding: 3px;
  cursor: pointer;
}

.images-carousel {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
}

.carousel-controller {
  display: flex;
  flex-flow: row;
}
*/
